body{
  margin: 0;
  padding: 0;
  max-width: 1400px;
  font-family: "PT Sans", sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #111;
}

.main-header{
  width: 100%;
  background-color: #fcdb00;
  padding-top: 60px;
  padding-left: 16px;
}
a{
  text-decoration: none;
}
.header-logo{
  line-height: 43px;
   border: 1px solid black;
}

.brandname{
  display: inline-block;
  margin-top: -40px;
  margin-left: 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #111;
  font-style: normal;
  border: 1px solid black;
}

.main-nav{
  position: absolute;
  top:0px;
  right: 0px;
}

.container{
    width: 900px;
    margin: auto;
}

.main-nav ul{
  padding: 0;
  margin: 0;
  color: #111;
  text-decoration: none;
}

.main-nav li{
  display: inline-block;
  margin-right: 63px;
  font-family: Helvetica Neue, serif;
  list-style: none;
  font-size: 22px;
  line-height: 20px;
}

.main-nav li:last-child{
  margin-right: 0;
}

.main-nav li:first-child{
  margin-right: 67px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}
